In [1]:
import mysql.connector

In [11]:
import MySQLdb
import pandas as pd

conn = MySQLdb.connect(host='golem.us.es', port=6006 , user='root', passwd='azkenmuga√ë.', db='wqp' )
cursor = conn.cursor()

#query = cursor.execute('Select * FROM OBJECT_POSITION ORDER BY Date DESC;')
query= 'Select * FROM OBJECT_POSITION ORDER BY Date DESC;'
df = pd.read_sql(query , conn)

print(df)

                    Date  Latitude_Drone  Longitude_Drone  Latitude_Obj  \
0    2024-05-14 12:21:52       37.419176        -5.998999     37.419161
1    2024-05-14 12:21:17       37.419183        -5.999006     37.419209
2    2024-05-14 12:21:16       37.419183        -5.999006     37.419212
3    2024-05-14 12:21:15       37.419184        -5.999008     37.419215
4    2024-05-14 12:21:15       37.419183        -5.999007     37.419212
...                  ...             ...              ...           ...
3926 2024-05-09 10:27:36       37.410908        -6.002759     37.410907
3927 2024-05-09 10:27:35       37.410908        -6.002759     37.410915
3928 2024-05-09 10:27:34       37.410908        -6.002759     37.410918
3929 2024-05-09 10:27:32       37.410908        -6.002759     37.410888
3930 2024-05-09 10:27:31       37.410908        -6.002759     37.410907

      Longitude_Obj  Heading_Drone  Heading_Obj  ASV
0         -5.998964         130.52   117.267691    1
1         -5.998897         112.95    72.953883    1
2         -5.998905         109.30    70.302048    1
3         -5.998918         102.74    66.229895    1
4         -5.998913         106.74    68.899648    1
...             ...            ...          ...  ...
3926      -6.002744          55.00    91.929900    1
3927      -6.002751          55.00    42.109014    1
3928      -6.002712          55.00    74.925008    1
3929      -6.002622          55.00   100.098374    1
3930      -6.002743          55.00    91.929900    1

[3931 rows x 8 columns]

/tmp/ipykernel_20325/1753115850.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query , conn)

In [13]:
df['Date'] = pd.to_datetime(df['Date'])
df_trash = df[~(df['Date'] < '2024-05-14')]

print(df_trash)

                   Date  Latitude_Drone  Longitude_Drone  Latitude_Obj  \
0   2024-05-14 12:21:52       37.419176        -5.998999     37.419161
1   2024-05-14 12:21:17       37.419183        -5.999006     37.419209
2   2024-05-14 12:21:16       37.419183        -5.999006     37.419212
3   2024-05-14 12:21:15       37.419184        -5.999008     37.419215
4   2024-05-14 12:21:15       37.419183        -5.999007     37.419212
..                  ...             ...              ...           ...
463 2024-05-14 11:50:19       37.419138        -5.999028     37.419184
464 2024-05-14 11:50:17       37.419134        -5.999025     37.419189
465 2024-05-14 11:50:17       37.419135        -5.999026     37.419188
466 2024-05-14 11:50:15       37.419131        -5.999023     37.419191
467 2024-05-14 11:50:14       37.419124        -5.999016     37.419198

     Longitude_Obj  Heading_Drone  Heading_Obj  ASV
0        -5.998964         130.52   117.267691    1
1        -5.998897         112.95    72.953883    1
2        -5.998905         109.30    70.302048    1
3        -5.998918         102.74    66.229895    1
4        -5.998913         106.74    68.899648    1
..             ...            ...          ...  ...
463      -5.999085         339.33   315.214747    1
464      -5.999083         333.69   320.041261    1
465      -5.999084         335.19   318.805090    1
466      -5.999082         328.84   321.876864    1
467      -5.999084         322.07   323.454280    1

[468 rows x 8 columns]